* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
html {
    position: relative;
    min-height: 100%;
}
/* cores */
.bgDark {
    background-color: #11103A;
}

.bgDarkCard {
    background-color: #1B1C48;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #11103A;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #11103A;
    border-top: 1px solid #1B1C48;
}

.heightPage {
    height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.bgExpand {
    background-color: #FAFAFA;
}

.borderCaixaCupom {
    border: 0px solid #DBDBDB;
    border-radius: 3px;
}

.borderCaixaCupom2 {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
/* navbar */ 
.menu-bar{
    background: #11103A; 
    border-bottom: 1px solid #1B1C48;
}   
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

.navbar-toggler {
    border:0px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}
.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.bgWhite {
    background-color: #ffffff;
}

/* caixas */ 
.hr {
    width: 100%;
    height: 1px;
    background-color: #1B1C48;
}

.containerCustom {
    width:100%;
}

.searchForm {
    background-color: #010409;
    border: 1px solid #30363d;
    color: #fff;
}
.searchForm:focus {
    background-color: #0d1117;
    color: #fff;
}

